@page
@model BookwormsOnline.Pages.ForgotPasswordModel
@{
}

<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Forgot Password </h1>

			<form method="post" asp-antiforgery="true">
				<div asp-validation-summary="All" class="text-danger"></div>

				<div class="mb-3">
					<label class="form-label" asp-for="FPModel.Email">Email Address</label>
					<input type="Text" asp-for="FPModel.Email" class="form-control" />
					<span asp-validation-for="FPModel.Email" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Send Reset Link</button>
				</div>
			</form>
		</div>
	</div>
</div>
