@page
@model BookwormsOnline.Pages.LoginModel
@{
}

<script src="https://www.google.com/recaptcha/api.js?render=6LezN2EpAAAAAE9H06U3ptFZi-79xlXKE8GTjJ1N"></script>
<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Login </h1>

			<form method="post" asp-antiforgery="true">
				<div asp-validation-summary="All" class="text-danger"></div>

				<div class="mb-3">
					<label class="form-label" asp-for="LModel.Email">Email Address</label>
					<input type="Text" asp-for="LModel.Email" class="form-control" />
					<span asp-validation-for="LModel.Email" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="LModel.Password">Password</label>
					<input type="password" asp-for="LModel.Password" class="form-control" />
					<span asp-validation-for="LModel.Password" class="text-danger"></span>
				</div>

				<div class="mb-3 form-check">
					<input type="checkbox" asp-for="LModel.RememberMe" class="form-check-input" />
					<label class="form-check-label" asp-for="LModel.RememberMe">Remember Me?</label>
				</div>

				<input type="hidden" id="RecaptchaToken" name="RecaptchaToken" />

				<div class="mb-3">
					<button type="submit" class="btn btn-primary" onclick="onClick(event)">Login</button>
				</div>
			</form>
			<script>
				function onClick(e) {
					e.preventDefault();
					grecaptcha.ready(function () {
						grecaptcha.execute('6LezN2EpAAAAAE9H06U3ptFZi-79xlXKE8GTjJ1N', { action: 'submit' }).then(function (token) {
							document.getElementById('RecaptchaToken').value = token;
							document.querySelector('form').submit();
						});
					});
				}

				async function submitFormWithToken(token) {
					// Set the value of the hidden field with the reCAPTCHA token
					document.getElementById('RecaptchaToken').value = token;

					// Submits form to backend
					const form = document.querySelector('form');
					await fetch(form.action, {
						method: form.method,
						body: new FormData(form),
						headers: {
							'RequestVerificationToken': document.getElementsByName('__RequestVerificationToken')[0].value
						}
					});
				}
			</script>
		</div>
	</div>
</div>
