@page
@model BookwormsOnline.Pages.ResetPasswordModel
@{
}


<div class="container mt-5">
	<div class="col-sm-12 col-md-12 col-lg-4">
		<h1 class="mb-3">Reset Password </h1>
		<form method="post" asp-antiforgery="true">
			<div asp-validation-summary="All" class="text-danger"></div>

			<div class="mb-3">
				<label class="form-label" asp-for="RPModel.NewPassword">New Password</label>
				<input type="password" asp-for="RPModel.NewPassword" class="form-control" onkeyup="validate()" />
				<span asp-validation-for="RPModel.NewPassword" class="text-danger"></span>

				<div id="pwStrength" class="text-muted"><span id="pwStrengthIndicator"></span></div>
			</div>
			<script type="text/javascript">

				function calculateScore(password) {
					var score = 0;

					if (password.length < 12) {
						return 1;
					}
					else {
						score = 1;
					}

					if (password.search(/[a-z]/) !== -1) {
						score++;
					}

					if (password.search(/[A-Z]/) !== -1) {
						score++;
					}

					if (password.search(/[0-9]/) !== -1) {
						score++;
					}

					if (password.search(/[!@@#$%^&*(),.?":{}|<>]/) !== -1) {
						score++;
					}

					return score;
				}


				function validate() {
					var str = document.getElementById("RPModel_NewPassword").value;
					var score = calculateScore(str)

					if (score == 5) {
						document.getElementById("pwStrengthIndicator").innerHTML = "Strong Password";
						document.getElementById("pwStrengthIndicator").style.color = "Blue";
					} else if (score == 4) {
						document.getElementById("pwStrengthIndicator").innerHTML = "Medium Password";
						document.getElementById("pwStrengthIndicator").style.color = "Green";
					} else if (score == 3) {
						document.getElementById("pwStrengthIndicator").innerHTML = "Weak Password";
						document.getElementById("pwStrengthIndicator").style.color = "Orange";
					} else {
						document.getElementById("pwStrengthIndicator").innerHTML = "Very Weak Password";
						document.getElementById("pwStrengthIndicator").style.color = "Red";
					}
				}
			</script>


			<div class="mb-3">
				<label class="form-label" asp-for="RPModel.ConfirmNewPassword">Confirm Password</label>
				<input type="password" asp-for="RPModel.ConfirmNewPassword" class="form-control" />
				<span asp-validation-for="RPModel.ConfirmNewPassword" class="text-danger"></span>
			</div>

			<div class="mb-3">
				<button type="submit" class="btn btn-primary">Reset Password</button>
			</div>
		</form>
	</div>
</div>