@page
@model BookwormsOnline.Pages.errors._400Model
@{
    ViewData["title"] = "Bad Request";
}

<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">404</h1>
    <p style="font-size: 50px; ">Request is not recognized by server</p>
    <p>Request is not recognized by server because of errors in syntax. Request should be changed with corrected syntax.</p>
    <p>Please navigate back to <a href="https://localhost:7157">Home Page</a></p>
</div>
