@page
@model BookwormsOnline.Pages.errors._401Model
@{
    ViewData["title"] = "Not Authorized";
}

<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">404</h1>
    <p style="font-size: 50px; ">Request does not contain authentication or authorization</p>
    <p>Request doesn't contain authentication or authorization and is refused because of bad credentials</p>
    <p>Please navigate back to <a href="https://localhost:7157">Home Page</a></p>
</div>
