@page
@model BookwormsOnline.Pages.errors._403Model
@{
    ViewData["title"] = "Forbidden";
}

<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">404</h1>
    <p style="font-size: 50px; ">Server refused to execute the request</p>
    <p>The server refused to execute the request, although it is in correct format</p>
    <p>Please navigate back to <a href="https://localhost:7157">Home Page</a></p>
</div>
