@page
@model BookwormsOnline.Pages.errors._505Model
@{
    ViewData["title"] = "Http version not supported";
}

<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">404</h1>
    <p style="font-size: 50px; ">Http version not supported</p>
    <p>Web server doesn't support Http version used by web client.</p>
    <p>Please navigate back to <a href="https://localhost:7157">Home Page</a></p>
</div>
